body {
  background-color: #eee;
}
#root {
  height: 100%;
}
.main-container {
  margin: 0 auto;
  width: 550px;
  background-color: #fff;
  box-shadow: 1px 1px 5px #000;
  h1 {
    // margin: 20px;
    padding: 20px;
    // text-align: center;
    border-bottom: 1px solid #000;
  }
}
